<!doctype html>
<html lang="en">
<head>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Description" content="Author: D Benseman, Content: A dictionary to convert maori words to english.">
</head>

<body>
	<div id="container">

		<header>
			<h1>{% block heading %}{% endblock %}</h1>
		</header>


		<nav>
            <input type="checkbox" name="drop_down_menu" />
			<span></span>
			<span></span>
			<span></span>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/category">Test</a></li>

				{% for category in categories %}
				<li><a href="/{{ category[0] }}">{{ category[0] }}</a></li>
				{% endfor %}
				<li>-------------------</li>

				{% if logged_in %}
                <li><a href="/addword">add word</a></li>
                <li><a href="/logout">log out</a></li>
				{% else %}
				<a href="/login">log in</a>
				{% endif %}




			</ul>
		</nav>


		<!--
		=====================================================
		== Content row of the template.                 ==
		=====================================================
		-->

		<main>
			{% if logged_in %}
			<strong>Hello, {{ session.firstname }}!</strong>
			{% endif %}


            {% block main%}{% endblock %}
        </main>


		<footer>
			<p>
				&copy; By Dylan Wu 2022
			</p>
		</footer>

	</div>
</body>
</html>
