{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block heading %}{% endblock %}

{% block main %}

<table class="word-table">
    <thead>
    <tr>
        <td><strong>maori</strong></td>
        <td><strong>english</strong></td>
        <td><strong>image</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for word in wordbank %}
        {% if word[0] == category_id %}
            <tr>
                <td>{{ word[1] }}</td>
                <td>{{ word[2] }}</td>
                <td><img src="/static/images/{{ word[3] }}" class="thumb"></td>

            </tr>


        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}