{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}

<table class="word-table">
    <thead>
    <tr>
        <td><strong>maori</strong></td>
        <td><strong>english</strong></td>
        <td><strong>image</strong></td>
    </tr>
    </thead>
<tbody>

{%  for wordbank in wordbank %}
<tr>
    <td><a href="/">{{ wordbank[0] }}</a></td>
    <td>{{ wordbank[1] }}</td>
    <td><img src="static/images/{{ wordbank[2] }}"></td>



</tr>
{%  endfor %}

</tbody>
</table>


{% endblock %}