{% extends 'base.html' %}


<!-- displaying heading -->
{% block heading %}
    {% for cat in category %}
        {% if cat[0] == category_id %}
            {{ cat[1] }}
            {% if logged_in and role == 'teacher' %}
                <a href="/delete_category/{{ cat[0] }}">- Delete category</a>
            {% endif %}
        {% endif %}
{% endfor %}
{% endblock %}

{% block main %}

<!-- User can edit category name -->
{% for cat in category %}
    {% if cat[0] == category_id %}
        {% if logged_in and role == 'teacher' %}
            <h3><a href="/edit_category/{{ cat[0] }}"><strong>edit category</strong></a></h3>
        {% endif %}
    {% endif %}
{% endfor %}

<!-- Displaying words into their category links -->
<table class="word-table">
    <thead>
    <tr>
        <td><strong>maori</strong></td>
        <td><strong>english</strong></td>
        <td><strong>image</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for wordbank in words %}
        {% if wordbank[0] == category_id %}


            <tr>
                <td><a href="/word/{{ wordbank[4] }}">{{ wordbank[1] }}</a></td>
                <td>{{ wordbank[2] }}</td>
                <td width="150"><img src="/static/images/{{ wordbank[3] }}" class="thumb"></td>

            </tr>


        {% endif %}
    {% endfor %}
    </tbody>
</table>

<!-- User can add word into category -->
{%  if logged_in and role == 'teacher' %}
<div class="error">{{error}}</div>
<form class="dataForm" method="post">
    <h><strong>Add a word</strong></h>
    <div class="form-group">
        <div class="form-label">Maori word:</div>
        <div class="form-element"><input id="maori" name="maori" type="text" maxlength="30" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">English translation:</div>
        <div class="form-element"><input id="english" name="english" type="text" maxlength="30" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Level:</div>
        {% for num in range(10) %}
            <input type="radio" id="{{ num + 1 }}" name="level" value="{{ num + 1 }}" required>
            <label for="{{ num + 1 }}">{{ num + 1 }}</label>
        {% endfor %}
    </div>

    <div class="form-group">
        <div class="form-label">Definition:</div>
        <div class="form-element"><input id="definition" name="definition" type="text" maxlength="60" required></div>
    </div>


    <div class="button-group">
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>
</form>
{% endif %}
{% endblock %}