{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<!-- Welcoming the user to the page -->
{% if logged_in %}
<strong>Hello {{ session.fname }}!</strong>
{% endif %}
<h>Welcome to Dylan's dictionary!</h>
<p>Use this to find Maōri and English words, and all of their definitions!</p>

<!-- Allowing the user to add a category -->
{% if logged_in and role == 'teacher' %}

<form class="dataForm" method="post">
    <div class="form-group">
        <div class="form-label">Add a category:</div>
        <div class="form-element"><input id="cat_name" name="cat_name" type="text"></div>
    </div>

    <div class="button-group">
            <input type="submit" value="Submit">
        </div>


</form>
{% endif %}


{% endblock %}
