{% extends 'base.html' %}

{% block pageheading %}
sign up
{% endblock %}

{% block main %}
    <!-- Error prevention -->
<div class="error">{{error}}</div>
    <!-- Sign up form -->
<form class="dataForm" method="post">
    <div class="form-group">
        <div class="form-label">First name:</div>
        <div class="form-element"><input id="fname" name="fname" type="text" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Last name:</div>
        <div class="form-element"><input id="lname" name="lname" type="text" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Email:</div>
        <div class="form-element"><input id="email" name="email" type="email" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><input id="password" name="password" type="password" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Password (again):</div>
        <div class="form-element"><input id="password2" name="password2" type="password" required></div>
    </div>
    <div class="form-label">Teacher or Student: </div>


            <input type="radio" id="teacher" name="role" value="teacher" required>
            <label for="teacher">Teacher</label>
            <input type="radio" id="student" name="role" value="student" required>
            <label for="student">Student</label>



    <div class="button-group">
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>



</form>
{% endblock %}